html {
    box-sizing: border-box;
    background-color: bisque;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family:Garamond, "Times New Roman", Georgia, serif;
    font-size: large;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.links {
    text-align: left;
    background-color: lightblue;
    width: auto;
    padding: 5%;
}